#  El asterisco '*' sirve para indicar que en el lugar donde se encuentra puede haber cualquier cadena de caracteres.
#  La interrogación '?' representa cualquier carácter, pero repetido unicamente una vez.
#  Uso de los corchetes ; Ejemplo -> 'foto[1-9].jpg'

#  Su uso difiere del significado que tiene en regex. 
#  No es lo mismo 'comodines' que 'expresiones regulares'

#  rm -rf .git   --->> elimina el rastreo git de un proyecto

#/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
#      - Cual es la diferencia de git clone y una fork en github?

#       Cuando hacemos un clon de un repositorio, te bajas una copia del mismo a tu máquina. Empiezas a trabajar, haces 
#     modificaciones y haces un push. Cuando haces el push estás modificando el repositorio que has clonado.
#       Cuando haces un fork de un repositorio, se crea un nuevo repositorio en tu cuenta de Github o Bitbucket, con una 
#     URL diferente (fork). Acto seguido tienes que hacer un clon de esa copia sobre la que empiezas a trabajar de forma 
#     que cuando haces push, estás modificando TU COPIA (fork). El repositorio original sigue intacto.

secrets?*.txt